{{template "header" .}}
      <div class="form">
        <form action="/" method="POST">
          <select class="langchange" name="lang">
            <option value="ja"{{if eq .Lan "ja"}} selected{{end}}>日本語</option>
            <option value="en"{{if eq .Lan "en"}} selected{{end}}>English</option>
          </select>
          <input
            class="langchange"
            type="submit"
            name="langchange"
            value="{{.T "langchange"}}"
          />
        </form>
      </div>
      <hr />
      {{.T "enterurl"}}
      <div class="form">
        <form action="/" method="POST">
          <input type="text" name="newadd" value="" />
          <div class="submit">
            <input type="submit" name="sosin" value="{{.T "submit"}}" />
          </div>
        </form>
      </div>
{{template "footer" .}}
